#sheets{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.sheet-card{
    border: 2px black solid;
    width: 400px;
    height: 300px;
    overflow-wrap: break-word;
    justify-content: center;
    text-align: left;
}